body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, 
form, fieldset, input, p, blockquote, table, th, td, embed, object {padding: 0;margin: 0; }
fieldset, img, abbr{border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;color: inherit;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

/*--------------------*/

*{
   font-family: 'Poppins', sans-serif;
}

.body{
   color: #323232;
}

h1{
   width: 674px;
   font-size: 54px;
   line-height: 79px;
   font-weight: bold;
   letter-spacing: 0.8px;
}

h2{
   font-size: 42px;
   line-height: 62px;
   font-weight: bold;
   letter-spacing: 0.8px;
}

.button{
   padding: 0;
   width: 157px;
   height: 58px;
   background-color: #F78434;
   border: none;
   color: #fff;
   border-radius: 29px;
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
}

.wrapper{
   margin: 0 10px;
}

.container{
   max-width: 1110px;
   margin: 0 auto;
}

.header__inner{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo{
   max-width: 168px;
   padding: 35px 0 33px 0;
}

.logo__img{

}

.menu{

}

.menu__list{
   display: flex;
}

.menu__item{
   color: #323232;
   font-size: 16px;
}

.menu__item + .menu__item{
   margin-left: 42px;
}

.menu__item--active{
   color: #F78434;
   font-weight: bold;
}

.main__inner{
   display: flex;
}

.main__text{
   margin-top: 122px;
}

.main__text p{
   max-width: 467px;
   font-size: 16px;
   line-height: 27px;
   letter-spacing: 1.15px;
   margin-bottom: 42px;
   margin-top: 25px;
}

.subscribe{
   width: 459px;
}

.subscribe input[type=text]{
   width: 250px;
   box-sizing: border-box;
   background: url(/img/mail.svg) 28px 21px no-repeat;
   border: none;
   padding: 18px 0 16px 72px;
   font-size: 16px;
   transition: padding 0.5s ease-in-out;
}

.subscribe input[type=text]:focus{
   background: none;
   padding-left: 0;
}

::-webkit-input-placeholder { /* WebKit browsers */
   color:    #BBBBBB;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #BBBBBB;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #BBBBBB;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #BBBBBB;
}

.subscribe input[type=button]{
   width: 157px;
   height: 58px;
   background-color: #F78434;
   border: none;
   color: #fff;
   border-radius: 29px;
   font-size: 16px;
   font-weight: bold;
   cursor: pointer;
}

.main__img{
   position: relative;
   left: -104px;
   z-index: -5;
}

.logo__items{
   display: flex;
   height: 271px;
   justify-content: space-around;
   padding: 95px 0 0 0;
}

.slogan__inner{
   display: flex;
   justify-content: space-between;
   margin-bottom: 111px;
}

.slogan__images{
   display: flex;
}

.slogan__img + .slogan__img{
   margin: 0 46px 0 32px;
}

.slogan__text{
   margin-top: 68px;
}

.slogan__description{
   font-size: 16px;
   line-height: 27px;
   letter-spacing: 1.15px;
   margin: 20px 0 40px 0;
}

.promo{
   height: 464px;
   background: url(/img/promo_bg.jpg) center no-repeat;
   color: #fff;

}

.promo__title{
   width: 342px;
   padding-top: 92px;
   margin-left: 650px;
   margin-bottom: 15px;
}

.promo__text{
   margin-left: 644px;
   font-style: 16px;
   line-height: 27px;
   letter-spacing: 1.15px;
}

.promo__btn{
   width: 172px;
   margin-left: 651px;
   margin-top: 30px;
}

.promo__btn + .promo__btn{
   margin-left: 20px;
   color: #000;
   background: url(/img/promo_icon.png) 30px center no-repeat;
   background-color: #fff;
}

.promo__btn + .promo__btn span{
   padding-left: 20px;
}